body{
	background-color: #3F1100;
}
.first{
	background-color: #FFEAE5;
}
pre{
	margin-top: 30px;
	font-family: 'Lobster';
}
.nav{
	padding: 50px 50px;
	font-size: 30px;
}
 span{
 	font-family: 'Indie+Flower';
 }

header{
	background-color: white;
}
.cover{

	font-size: 70px;
	background: url('../img/5.jpg') right bottom ;
	background-size: 250px 150px;
	background-repeat: no-repeat;
	clear: both;
	color: #A40D00 ;
	width: 40%;
    height: 190px;
    font-family: 'Pacifico';
}

.part1{
	clear: both;
	background-color: #A40D00;
	margin-top: 20px;

}
.part2{

	padding: 0 0;
	background-color: #A40D00;
	clear: both;
	margin-top: 20px;
}

.part3{
	margin-top: 20px;
	background-color: #A40D00;
	clear: both;
}
.ulist{
	display: inline;
}
.ulist a.active {
    color: white;
}

.ulist a:hover:not(.active) {
    background-color: #555;
    color: white;
    
}
.post{
	background-color: white;
}