body{
	background-color: #3F1100;
}
.first{
	background-color: #FFEAE5;
}
.post{
	background-color: white;
}

.navi{
	position: right bottom;
}
.pres{
	border: none;
	background-color: white;
}
pre{
	font-size:20px;
	margin-top: 15px;
	font-family: 'Lobster';
}
.nav{
	float: right;
	padding: 15px 45px;
	font-size: 30px;
	
}
 span{
 	font-size:17px;
 	font-family: 'Indie+Flower';
 }

.cover{

	font-size: 70px;
	font-size-adjust: top left;
	background: url('../img/5.jpg') right bottom  ;
	background-size: 250px 150px;
	background-repeat: no-repeat;
	clear: both;
	color: #A40D00 ;
	width: 40%;
    height: 190px;
    font-family: 'Pacifico';
}
h4{
	color: white;
}
.part1{
	clear: both;
	background-color: #A40D00;
	margin-top: 20px;
    color: white;
}
.part2{

	padding: 0 0;
	background-color: #A40D00;
	clear: both;
	margin-top: 20px;
	color: white;
}

.part3{clear: both;
	margin-top: 20px;
	background-color: #A40D00;
	color: white;
}
.ulist{
	display: inline;
}
.ulist a.active {
    color: white;
}

.ulist a:hover:not(.active) {
    background-color: #555;
    color: white;
    
}
.container{
	clear: both;
	margin-top:20px; 
	color: #A40D00;
}